/* responsive */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    //border:3px solid red;
  }
  #about, #services, #resources {
    padding:2px;
    a {
      display:block;
      min-height:220px;
      }
    }
    h2 {
      font-size:30px !important;
      font-weight:100 !important;
    }

  #l2-nav #about, #l2-nav #services, #l2-nav #resources {
  margin-top:0px;
  a {
    min-height:140px !important;  
  }
}

#l2-content {
  margin-top:230px;   
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    //border:3px solid blue;
  }

  #l2-nav #about, #l2-nav #services, #l2-nav #resources {
  margin-top:50px;
  a {
    min-height:140px !important;  
  }
}

#l2-content {
  margin-top:40px;   
}




}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    //border:3px solid yellow;
  }
}